<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <label> User Name : <br/> <input type="text" name="username"/></label>
    </div>
    <br/>
    <div>
        <label> Password: <br/> <input type="password" name="password"/></label>
    </div>
    <br/>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
</form>
</body>
</html>